{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
